@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  height: 364px;
}

.marker {
  background-size: cover;
  width: 30px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}
